body{
    font-family: 'Abril Fatface', cursive;
    margin: 0;
    /* padding: 0; */
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}
.name-modify{
    color: tomato;
    padding-right: 5px;
}
h1{
    font-size: 30px;
    padding-left: 6px;
}
h2{
    font-size: 30px;
}
.top-content{
    display: flex;
    margin-bottom: 80px;
     
}
.details-area{
    width: 50%; 
    padding-left: 5px;
    padding-right: 10px;
           
}
.details-area img{
    width: 80%;
    padding-left: 5px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered, orange);
    border-radius: 7px; 
    padding: 7px 25px;
    font-size: 11px;
    color: white;
}


/* <--------------------> */

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40px;
    padding-left: 12px;
}
.experience-content{
    box-shadow: 10px 10px 40px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 20px;
    padding-left: 20px;
}

.president-name-modify{
    font-size: 25px;
    color: tomato;
}
.buisness-analyst{
    font-size: 25px;
}
.buisness-owner{
    font-size: 25px;
}
.experience-item{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 65px;
}
#experience-title-analyst{
    border-left:7px solid tomato;
    padding-left: 20px;
}
#experience-title-buisness{
    border-left: 7px solid blue;
    padding-left: 20px;
}
footer p{
    text-align: center;
    color: white;
    background-color: midnightblue;
    width: 100%;
    height: 10%;
    padding-top: 60px;
    margin-bottom: 0px;
}
/* -------------------- */

